GET 请求不应该包含请求体

## 环境
bun v1.2.20
@larksuiteoapi/node-sdk ^1.55.0

## 问题

根据 RFC9110 §9.3.1，GET请求不应该包含请求体。但是测试后发现，sdk产生的GET请求会包含一个默认的空请求体 `{}`

在 Node 下，这个请求不会出现任何问题，但是在 Bun 运行时下 https://github.com/oven-sh/bun/issues/19089 ，这个请求体被刻意的不发送 ([http.zig#L2419](https://github.com/oven-sh/bun/blob/main/src/http.zig#L2419))，使得 Content-Length 为 2 而没有对应的 body 数据。
这会导致服务器一直等待请求体而卡死，所有method为GET的请求都会超时而无法正常使用。

## 解决方案

准确来说这是一个 Bun 的 bug，但是希望飞书的 SDK 也可以遵守 HTTP 的规范发送请求，在方法为 GET 时向 axios 不传递 body 参数以避免这些问题发生。



+1 同样遇到这个问题。  公司的项目已经迁移到 bun.js ，希望尽快解决。